<br>
<br>
<br>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm">

        <ngx-alerts></ngx-alerts>
        <div class="card border-secondary mb-3 col-6 animated fadeInLeft" style="max-width: 40rem;">
          <div class="card-header bg-success" style="text-align: center;font-weight: bold;color: white;font-size: 20px;">Customer Form</div>
          <div class="card-body">

            <form  ngForm="frmCustomers" (ngSubmit)="saveCustomer()">

              <p class="form-group">
                <label>Customer Name</label>
                <input  name="txtName" [(ngModel)]="choosedCustomer.name"
                       class="form-control">
              </p>

              <p class="form-group">
                <label>Customer Address</label>
                <input name="txtName" [(ngModel)]="choosedCustomer.address" class="form-control">
              </p>

              <p class="form-group">
                <label>Customer Contact</label>
                <input name="txtAddress" [(ngModel)]="choosedCustomer.contact"
                       class="form-control">
              </p>

              <button type="submit" class="btn btn-primary">Save</button>
              &nbsp;
              <button type="button" class="btn btn-warning">Clear</button>
            </form>

          </div>
        </div>

      </div>
      <!--<div class="col-sm">-->
      <!--One of three columns-->
      <!--</div>-->
      <div class="col-6">
        <div class="input-group mb-3 animated fadeInUp">
          <input type="text" class="form-control" name="txtSearch" placeholder="Search Items">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary fa fa-search" type="button"></button>
          </div>
        </div>
        <br>
        <table class="table table-bordered animated fadeInRight table-bordered " id="tblCustomers">
          <thead class="black white-text">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Contact</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let c of customer | paginate:{itemsPerPage:7,currentPage:p}">
            <th>{{c.id}}</th>
            <td>{{c.name}}</td>
            <td>{{c.address}}</td>
            <td>{{c.contact}}</td>
            <td><i class="fa fa-trash fa-2x" (click)="deleteCustomer()"></i></td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="5">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </td>
          </tr>
          </tfoot>
        </table>

      </div>
    </div>
  </div>
</section>
