<div style="position: relative">
  <section class="">
    <div class="container">
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-sm-6">
          <img class="animated fadeInUp" src="../../../assets/image/design-systems.png" style="width: 60%;height: 50rem;position: fixed">
        </div>

      </div>
    </div>
    <div class="col-4">
      <br>
      <br>
      <h1 class="animated flipInY" style="font-size: 50px;font-weight: bold;margin-left: 5%;position: fixed;top: 27%">SpringBoot Pos System</h1>
      <p class="animated lightSpeedIn" style="font-size: 30px;font-weight: bold;margin-left: 2%;position: fixed;top: 35%;">Anjular , Mevan , Spring Boot Web Pos System</p>

    </div>
    <div class="footer col-lg-6" style="">
      <img class="animated bounceInLeft" src="../../../assets/image/1_rXKU7dQO6joxBsYfktv4mQ.png" style="width: 30%;background: transparent;position:fixed; margin-left: 7%;top: 55%">
    </div>
  </section>
</div>
